# ==========================================
# ENTORNO VIRTUAL
# ==========================================

venv/
.env/
ENV/
env/

# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# ARCHIVOS DE COMPILACIÓN
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# CONFIGURACIÓN IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# LOGS
# ==========================================

*.log

# ==========================================
# ARCHIVOS TEMPORALES
# ==========================================

*.tmp
*.temp